<h1 class="md-headline">Angular Material Keyboard Demo</h1>
<section layout="row">
    <input
        placeholder="Use default keyboard"
        value="Google"
        [(ngModel)]="text"
        [(mdKeyboard)]="text">

    <input
        placeholder="Use secondary keyboard"
        value="Amazon"
        [(ngModel)]="text2"
        [(mdKeyboard)]="text2">
    text: {{text}} <br/>
    text2: {{text2}}
</section>
<section layout="row">
    <button md-button class="md-raised"
            (click)="hideKeyboard()"
            [attr.disabled]="!keyboardVisible">
        Hide keyboard
    </button>
    <md-keyboard></md-keyboard>
</section>
